/*Pallete colors
    Background FEFAE0
    Primary D4A373
    Secondary E9EDC9
    Accent CCD5AE
    Text 000000
*/
body {
    background-color: #FEFAE0;
    color: #000000;
    margin: 0;
    padding: 0;
}

.title {
    background-color: #CCD5AE;
    font-family: Times New Roman, serif;
    color: #000000;
    width: fit-content;
    padding: 10px;
    margin: 16px auto;
}

.subtitle {
    background-color: #D4A373;
    color: #000000;
    width: 100%;
    padding: 10px;
    border: 2px solid #333;
    margin: 16px;
}

.content {
    background-color: #E9EDC9;
    font-family: Helvetica, Arial, sans-serif;
    color: #2b0707;
    width: stretch;
    padding-left: 20px;
    border: 2px solid #333;
    margin: 16px;
    line-height: 1.6;
}

a {
    margin: 16px;
    text-decoration: underline;
}
